@import "_mixins";
$font-family-sans-serif: 'Open Sans',
sans-serif;


$container-max-widths: ( xl: 1170px) !default;
$modal-xl: 1170px !default;
$nav-link-padding-y: 0.45rem;
$nav-link-padding-x: 1.25rem;
$paragraph-margin-bottom: 13px;
$border-radius: .3rem;