$white: #fff;
$black: #000;
$add-header-color: rgba(50, 176, 238, 0.302);
$down-header-color :#0feb9e;
$border-header :#32b0ee;
$main-color-theme: #0eb493;
$hov-color: #c3c6c7;
$border-color:#c7ced3;
$line-color: #062033;
$header-features-color: #f4f7f9;
$hov-effect: #21b596;
$black-header: #062033;
$hov-socials: #117f69;
$white-opacity:rgba(255, 255, 255, 0.8);
$link-colors:#6a737b;
$bottom-color:#cccccc;
$place-color:#5b646e;
$network-color:#cdd2d6;
$footer-bg:#1ea78d;